<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">{{nutrient.name}}</h5>
    <p class="card-text">{{nutrient.proteins}}</p>
    <p class="card-text">{{nutrient.fats}}</p>
    <p class="card-text">{{nutrient.carbs}}</p>
    <p class="card-text">{{nutrient.kilocalories}}</p>
    <a href="#" class="btn btn-primary">Do nothing</a>
  </div>
  <!--      <div class="card-footer text-muted">-->
  <!--        {{message.date | date:'shortDate'}}-->
  <!--      </div>-->
</div>
